<h4>Modifier le profil</h4>

<div style="width: 100%; text-align: center">
  <mat-card>
    <mat-card-content>
      <img *ngIf="currentUser" [src]="avatarLink">
      <mat-progress-bar [value]="file.progress"></mat-progress-bar>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button color="warn" (click)="onClick()">
        <mat-icon>cloud_upload</mat-icon>
      </button>
    </mat-card-actions>
  </mat-card>
  <input type="file" #fileUpload id="fileUpload" name="fileUpload" accept="image/*" style="display:none;">
  <p>Recharger la page après avoir mis à jour la photo de profil</p>
</div>

<form [formGroup]="form">
  <div class="container">
    <mat-dialog-content class="dial-content">

      <mat-form-field>
        <input formControlName="_id" matInput placeholder="ID">
      </mat-form-field>

      <mat-form-field>
        <input formControlName="name" matInput placeholder="Nom complet" type="text">
        <mat-error *ngIf="form.controls['name'].hasError('required')">
          Nom et prénom <strong>obligatoires</strong></mat-error>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="email" matInput placeholder="Email" type="email">
        <mat-error *ngIf="form.controls['email'].hasError('required')">
          Email <strong>obligatoire</strong></mat-error>
      </mat-form-field>

      <mat-form-field>
        <input formControlName="age" matInput placeholder="Age">
      </mat-form-field>

      <mat-form-field>
        <input formControlName="phone" matInput placeholder="Phone">
      </mat-form-field>

      <mat-form-field>
        <input type="text" formControlName="address" matInput placeholder="Addresse">
        <mat-error *ngIf="form.controls['address'].hasError('required')">
          Addresse <strong>obligatoire</strong>
        </mat-error>
      </mat-form-field>

      <mat-checkbox formControlName="newsletter">S'abonner a la newlsetter</mat-checkbox>


    </mat-dialog-content>
    <mat-dialog-actions class="dial-actions" fxLayout="row" fxLayoutAlign="center center"fxLayoutGap="15px">

      <button (click)="close()" class="mat-raised-button">Annuler</button>

      <button (click)="save()" [disabled]="form.invalid" color="primary" mat-raised-button type="submit">Valider
      </button>

    </mat-dialog-actions>

  </div>

</form>

