.container {
  display: flex;
  flex-direction: column;
  //align-items: center;
  justify-content: center;
}
.dial-content {
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin-top: 2%;
}
