<ng-container>
  <h2 style="font-size: 2rem;">Mes adresses</h2>
  <div fxLayout="row" fxLayoutAlign="center center" style="margin: 20px">
    <button *ngIf="!isModerator" color="primary" mat-flat-button routerLink="/users/addresses/address-create"
            style="width: 40%">
      Créer une adresse
    </button>
    <button *ngIf="isModerator" color="primary" mat-flat-button routerLink="/moderator/addresses/address-create"
            style="width: 40%">
      Créer une adresse
    </button>
  </div>
  <div *ngIf="addresses" class="address-container" fxLayout="row wrap"
       fxLayout.xs="column" fxLayoutAlign="space-evenly center">
    <mat-card *ngFor="let address of addresses.addresses" class="example-card">
      <mat-card-header>
        <mat-card-title>{{ address.full_name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>id: {{ address._id }}</p>
        <p>Civility: {{ address.civility }}</p>
        <p>Adresse 1 : {{ address.address1 }}</p>
        <p *ngIf="address.address2">Adresse 2 : {{ address?.address2 }}</p>
        <p *ngIf="address.company">Compagnie : {{ address?.company }}</p>
        <p>{{ address.city }}, {{ address.postcode }}</p>
        <p>{{ address.country }}</p>
        <p>Numéro de téléphone: {{ address.phone }}</p>
      </mat-card-content>
      <hr>
      <mat-card-actions style="margin: 5px">
        <button [routerLink]="['/users/addresses/address-edit', address._id]" mat-flat-button
                routerLink="/users/addresses/address-edit"
                style="margin: 5px; color: violet">Modifier
        </button>
        <button (click)="removeAddress(address._id)" mat-flat-button style="margin: 5px; color: violet">Supprimer
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  <mat-paginator (page)="pageEvent = $event; onPaginateChange($event)"
                 *ngIf="addresses"
                 [length]="addresses.numOfAddress"
                 [pageSizeOptions]="pageSizeOptions"
                 [pageSize]="addresses.perPage"
                 showFirstLastButtons>
  </mat-paginator>

  <button *ngIf="!isModerator" [routerLink]="'/users'" color="primary" mat-flat-button style="text-transform: uppercase; margin-top: 15px">
    <mat-icon>navigate_before</mat-icon>
    Retour à mon compte
  </button>
  <button *ngIf="isModerator" [routerLink]="'/moderator'" color="primary" mat-flat-button style="text-transform: uppercase; margin-top: 15px">
    <mat-icon>navigate_before</mat-icon>
    Retour à mon compte
  </button>
</ng-container>
