<ng-container>
  <p>Connected user information</p>
  <p>Changer pour card après et faire le css</p>
  <div class="profile-container">

    <div class="form-box">
    <form (ngSubmit)="updateUser()" [formGroup]="profileForm">

       <div  fxLayout="row wrap" fxLayoutGap="30px" fxFlexAlign="center">
         <mat-form-field>
           <input formControlName="name" matInput placeholder="Nom complet" [value]="currentUser.name" type="text">
<!--           <mat-error *ngIf="profileForm.controls['name'].hasError('required')">-->
<!--             Nom et prénom <strong>obligatoires</strong></mat-error>-->
         </mat-form-field>

         <mat-form-field>
           <input formControlName="email" matInput
                  placeholder="Email"
                  [value]="currentUser.email"
                  required
                  type="email">
<!--           <mat-error *ngIf="profileForm.controls['email'].hasError('required')">-->
<!--             Email <strong>obligatoire</strong></mat-error>-->
         </mat-form-field>

         <mat-form-field>
           <input #pass formControlName="password" matInput minlength="7" placeholder="Mot de passe" type="password">
<!--           <mat-hint align="end">{{pass.value.length || 0 }} / 7</mat-hint>-->
<!--           <mat-error *ngIf="profileForm.controls['password'].hasError('required')">-->
<!--             Mot de passe <strong>obligatoire</strong></mat-error>-->
         </mat-form-field>

         <mat-form-field>
           <input #phone formControlName="phone" matInput placeholder="Contact" [value]="currentUser.phone">
         </mat-form-field>

         <mat-form-field>
           <input #age formControlName="age" matInput maxlength="3" pattern="[0-9]+" placeholder="Age" [value]="currentUser.age">
           <mat-hint align="end">{{age.value.length || 0 }} / 3</mat-hint>
         </mat-form-field>

         <mat-form-field>
           <input formControlName="address" matInput placeholder="Addresse" [value]="currentUser.address" type="text">
           <mat-error *ngIf="profileForm.controls['address'].hasError('required')">
             Addresse <strong>obligatoire</strong>
           </mat-error>
         </mat-form-field>

       </div>
<!--        <div style="margin-top:20px;" fxLayout="column">-->
<!--          <mat-checkbox formControlName="newsletter">S'abonner a la newlsetter</mat-checkbox>-->
<!--            <div>-->
<!--              <button [disabled]="profileForm.invalid" color="primary" mat-raised-button type="submit">Valider</button>-->
<!--            </div>-->
<!--        </div>-->

      <div>
        <button mat-flat-button color="primary">Editer</button>
      </div>
    </form>
    </div>
  </div>


</ng-container>
