.content {
  top: 65px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: auto;
}
.spacer {
  height: 100px;
  background-color: red;
}
.product-content {
  overflow: hidden;
}
.filter-sidenav {
  max-width: 400px;
  width: 300px;
  overflow: auto !important;
}
mat-drawer {
  background-color: rgb(236, 236, 236);
}
mat-card-content {
  max-height: 100px;
}
.example-card {
  //max-width: 320px;
  //margin: 0px 5px 5px 0px;
  box-shadow: 0 0 5px 1px #dee1e1;
  max-height: 600px;
  width: 320px;
  min-height: 420px;
  margin: 5px;
}
.img-container {
  width: 250px;
  height: 250px;
  //margin: 10px;
  padding: 10px;
  //right: 500px;
}
img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  margin-left: 20px;
}

.example-header-image {
  background-image: url('https://source.unsplash.com/1600x900/?product');
  background-size: cover;
}

.example-sidenav-content:first-child {
  margin: 10px 5px 5px 5px;
}

.list-width {
  width: 200px;
}

.list-item:hover {
  background-color: rgba(83, 83, 83, 0.178);
  cursor: pointer;
}


