<article class="content">
  <mat-toolbar class="second-toolbar" color="warn">
    <button (click)="drawer.toggle()" mat-icon-button type="button">
      <mat-icon>menu</mat-icon>
    </button>
    Component
  </mat-toolbar>

  <mat-drawer-container class="example-container">
    <mat-drawer #drawer fxFlex="20" fxLayout="column" fxLayoutAlign="start space-between" mode="side"
                opened position="start" class="filter-sidenav ">
      <mat-list *ngFor="let i of [].constructor(4)" class="list-width" role="list">
        <mat-list-item class="list-item" role="listitem">Filter here</mat-list-item>
      </mat-list>
    </mat-drawer>

    <mat-drawer-content >
      <app-product-item [dataSource]="dataSource"></app-product-item>

      <mat-paginator *ngIf="dataSource"
        [length]="dataSource.numOfProducts"
        [pageSize]="dataSource.perPage"
        [pageSizeOptions]="pageSizeOptions"
        (page)="pageEvent = $event; onPaginateChange($event)"
        showFirstLastButtons>
      </mat-paginator>

    </mat-drawer-content>
  </mat-drawer-container>
</article>

