<section>
  <h1 style="text-align: center;">Page de connexion</h1>

    <form
      [formGroup]="loginForm"
      (ngSubmit)="onSubmit()"
    >
      <div class="container" fxLayout="column"  fxLayoutGap="20px">
      <mat-form-field>
        <input
          type="email"
          matInput
          placeholder="Your email"
          formControlName="email"
        />
        <mat-hint *ngIf="loginForm.controls.email.errors">Email is required</mat-hint>
        <mat-error>Invalid or missing email.</mat-error>
<!--        <mat-hint>Please enter a valid email.</mat-hint>-->
<!--        <mat-error>Invalid or missing email.</mat-error>-->
      </mat-form-field>
      <mat-form-field>
        <input
          type="password"
          matInput
          placeholder="Your password"
          minlength="7"
          formControlName="password"
        />
        <mat-hint *ngIf="loginForm.controls.password.errors">Password is required</mat-hint>
        <mat-error>Missing password.</mat-error>
<!--        <mat-hint>Please enter your password.</mat-hint>-->
<!--        <mat-error>Missing password.</mat-error>-->
      </mat-form-field>
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="loginForm.invalid"
      >
        Submit
      </button>
      </div>
    </form>

<!--  <mat-grid-list cols="3">-->
<!--    <mat-grid-tile colspan="3">-->
<!--      <mat-card>-->
<!--        <mat-card-header color="primary">-->
<!--          <mat-card-title>Login Form</mat-card-title>-->
<!--        </mat-card-header>-->
<!--        <form>-->
<!--          <mat-form-field style="width:400px !important">-->
<!--            <mat-label>Email</mat-label>-->
<!--            <input matInput>-->
<!--          </mat-form-field>-->
<!--          <br>-->
<!--          <mat-form-field style="width:400px !important">-->
<!--            <mat-label>Password</mat-label>-->
<!--            <input matInput>-->
<!--          </mat-form-field>-->
<!--          <br>-->
<!--          <button mat-raised-button color="primary">Submit</button>-->
<!--        </form>-->
<!--      </mat-card>-->
<!--    </mat-grid-tile>-->
<!--  </mat-grid-list>-->
</section>
