<ng-container>
  <p style="text-align: center;">LISTE DES RESTAURANTS!</p>

  <div class="searchBar">
    <mat-form-field style="font-size: 15px; width: 70%">
      <mat-label>Saisir le nom du restaurant</mat-label>
      <input (keyup)="applyFilterByName($event)" matInput placeholder="Ex. resto">
      <mat-hint>Eviter au maximum les espaces</mat-hint>
    </mat-form-field>
  </div>

  <div *ngIf="dataSource" class="container">
    <mat-card *ngFor="let restaurant of dataSource.restaurants" class="item">
      <mat-card-header>
        <mat-card-title>Nom: {{ restaurant.name }}</mat-card-title>
        <mat-card-subtitle>État: {{ restaurant.status }}</mat-card-subtitle>
      </mat-card-header>
      <img [src]="restaurant.image" alt="restaurant" class="img-container">
      <mat-card-content>
        <p><strong>Description:</strong> {{ restaurant.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button color="primary" mat-flat-button>VOIR</button>
      </mat-card-actions>
    </mat-card>
  </div>
  <mat-paginator (page)="pageEvent = $event; onPaginateChange($event)"
           *ngIf="dataSource"
           [length]="dataSource.numOfRestaurants"
           [pageSizeOptions]="pageSizeOptions"
           [pageSize]="dataSource.perPage"
           showFirstLastButtons>
  </mat-paginator>

</ng-container>
