<ng-container>
 <div class="container">
   <div class="order-container">
     <form [formGroup]="orderForm" (ngSubmit)="createOrder()">
       <div class="order">
         <div class="order-header">
           <h4 style="font-size: 30px">MA COMMANDE</h4>
         </div>
         <h5>Adresse de facturation et de livraison</h5>
         <div>Ajouter une addresse</div>
         <span>if address empty-> Vous n'avez pas d'adresse créez en une</span>
         <div style="text-align: center">
           <button mat-flat-button color="warn" style="background-color: blueviolet; width: 60%">Ajouter une addresse</button>
         </div>

         <div class="address">
           <mat-radio-group formControlName="address" class="address-radio-group">
             <mat-radio-button class="address-radio-button" *ngFor="let address of addresses" [value]="address._id">
               <mat-card  class="card-item">
                 <mat-card-header>
                   <mat-card-title>{{ address.full_name }}</mat-card-title>
                 </mat-card-header>
                 <mat-card-content>
                   <p>id: {{ address._id }}</p>
                   <p>Civility: {{ address.civility }}</p>
                   <p>{{ address.address1 }}</p>
                   <p>{{ address.city }}, {{ address.postcode }}</p>
                   <p>{{ address.country }}</p>
                   <p>Numéro de téléphone: {{ address.phone }}</p>
                 </mat-card-content>
               </mat-card>
             </mat-radio-button>
           </mat-radio-group>

         </div>

         <div class="payment">
           <label id="example-radio-group-label" style="margin-top: 20px; font-size: 22px">
             Mode de paiement
           </label>
           <mat-radio-group
             aria-labelledby="example-radio-group-label"
             class="example-radio-group" formControlName="payment">
             <mat-radio-button class="example-radio-button" *ngFor="let payment of paymentValue" [value]="payment">
               {{ payment }}
             </mat-radio-button>
           </mat-radio-group>
         </div>
         <div class="order-details">
           <h5>Récapitulatif de ma commande</h5>
           <p>Afficher Article  et prix</p>
           <p>Mode de paiement</p>
           <p>Prix total</p>
         </div>
         <div class="agree">
           <h5>Veuillez vérifier votre commande avant le paiement !</h5>
           <mat-checkbox formControlName="agree" required>
             <span>J'ai lu les conditions générales de vente et les conditions d'annulation</span>
           </mat-checkbox>
         </div>
         <div style="text-align: center; margin-top: 25px">
           <button style="width: 70%" color="primary" mat-raised-button [disabled]="orderForm.invalid" type="submit">
             PASSER LA COMMANDE
           </button>
         </div>
       </div>
     </form>
   </div>
 </div>

</ng-container>
