<div class="container">
<!--  <div>test</div>-->
<!--  <div>test22</div>-->
  <div class="cartContainer" *ngIf="dataSource">
    <mat-table [dataSource]="dataSource.carts" class="mat-elevation-z8">
      <!-- Image Column -->
      <ng-container matColumnDef="image">
        <mat-header-cell *matHeaderCellDef> Image</mat-header-cell>
        <mat-cell class="img-container" *matCellDef="let element"><img [src]="element.product.image"></mat-cell>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef> Nom</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef> Prix</mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.price }} </mat-cell>
      </ng-container>

      <!-- Quantity Column -->
      <ng-container matColumnDef="quantity">
        <mat-header-cell *matHeaderCellDef> Quantité</mat-header-cell>
        <mat-cell *matCellDef="let element">

          <mat-form-field class="example-full-width" style="width: 50%">
            <mat-label>Qtité</mat-label>
            <input matInput type="number" min="1" [value]="element.quantity">
            <mat-hint align="start"><strong>En stock</strong></mat-hint>
          </mat-form-field>
        </mat-cell>
      </ng-container>

      <!-- _Id for remove quantity -->
      <ng-container matColumnDef="_id">
        <mat-header-cell *matHeaderCellDef> test</mat-header-cell>
        <mat-cell *matCellDef="let element">
          <button mat-flat-button color="warn" (click)="removeItemCart(element._id)">
            <mat-icon>delete</mat-icon>
            <span>Supprimer</span>
          </button>
        </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator
      [length]="dataSource.numOfCarts"
      [pageSize]="dataSource.perPage"
      [pageSizeOptions]="pageSizeOptions"
      (page)="pageEvent = $event; onPaginateChange($event)"
      showFirstLastButtons>
    </mat-paginator>
  </div>

</div>
