<h2 style="font-size: 2rem; text-align: center">Enregistrer un restaurant. </h2>
<div fxLayout="row" fxLayoutAlign="center center" style="margin: 20px">
  <button routerLink="/moderator/resto/restaurant-add" style="width: 40%"
          mat-flat-button color="warn">Enregistrer un restaurant</button>
</div>

<br>
<br>

<h2 style="font-size: 2rem; text-align: center">Enregistrer des plats.</h2>
<div fxLayout="row" fxLayoutAlign="center center" style="margin: 20px">
  <button routerLink="/moderator/products/product-add" style="width: 40%"
          mat-flat-button color="accent">Créer un produit</button>
</div>

<br>
<br>

<h2 style="font-size: 2rem; text-align: center">Voir touts les restaurants disponibles sur le site.</h2>
<div fxLayout="row" fxLayoutAlign="center center" style="margin: 20px">
  <button routerLink="/moderator/resto" style="width: 40%"
          mat-flat-button color="primary">Les restaurants</button>
</div>
