.restaurant-infos {
  width: 100%;
  margin-bottom: 35px;
  height: 400px;
}
.header-restaurant {
  height: 400px;
  //background-repeat: no-repeat;
  //background-position: center top;
  //background-size: cover;
  //background-attachment: fixed;
}

.img-container {
  width: 100%;
  height: 390px;
  object-fit: cover;
}
