<div class="container">
  <h3>Ajouter carousel ici ??</h3>

  <div class="moderator-block" *ngIf="isModerator">
    <div style="width: 700px; height: 500px; background-size: cover">
      <img  [src]="urlModerator" style="width: 100%; height: 100%">
    </div>
    <div>
      <h1>Contenu visible avec le privilège Moderateur</h1>
    </div>
  </div>

  <div class="user-heading" *ngIf="!isModerator">
    <h3>LIVRAISON RAPIDE, commander juste ce que vous aimez</h3>
    <h1>Contenu visible avec le privilège Utilisateur</h1>
  </div>
  <div *ngIf="!isModerator">

    <div fxFlex="45" class="container-left">
        <img [src]="url" style="width: 100%; height: 100%">
    </div>

    <div fxFlex="50" class="container-right" fxLayoutGap="20px">
      <div fxFlex="50">
        <button *ngIf="!isModerator" [routerLink]="['/restaurants-center']" mat-flat-button color="warn">Trouver un restaurant</button>
      </div>
      <div fxFlex="50">
        <button *ngIf="!isModerator" [routerLink]="['/products-center/products']" mat-flat-button color="primary">Afficher les menus</button>
      </div>
    </div>
  </div>
  <br>
  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab cum eius esse ipsum iure iusto, modi molestiae
    numquam quas repellat tenetur velit, veniam voluptas! Architecto eos illo ipsum iusto officiis!
  </div>
  <div>Ad aperiam assumenda commodi cupiditate iste laudantium molestiae, neque nobis perspiciatis praesentium quidem
    quis quos repudiandae suscipit velit veniam voluptates. Aliquam ducimus enim exercitationem fugiat ipsa modi
    repellendus sint suscipit.
  </div>
  <div>Ad alias asperiores atque aut consequatur cum cupiditate deleniti dolore doloribus dolorum illo ipsa itaque
    libero molestiae nam, nisi officiis optio possimus provident repellat temporibus, ut velit, voluptatibus.
    Laudantium, reiciendis.
  </div>
  <div>A amet, assumenda consectetur corporis cum debitis doloribus eos error est fugiat itaque maxime minus neque nihil
    nisi, obcaecati provident quam quos repellendus sint tempora tempore temporibus voluptates! Eum, labore.
  </div>
  <div>Aliquam consectetur eum eveniet exercitationem illo ipsa magnam maxime minus, nostrum quibusdam quidem quis quod
    rem, repellendus sed veniam vero vitae voluptas voluptatem voluptatibus! Culpa doloribus ex libero quas vel.
  </div>
  <div>Amet ducimus et explicabo facilis fugit, laboriosam laborum minus natus, nesciunt non officiis qui similique.
    Commodi culpa dolore eligendi explicabo id impedit minus nostrum numquam, qui saepe sed vel velit.
  </div>
  <div>Alias corporis dignissimos exercitationem modi neque nesciunt nihil tempora temporibus voluptate voluptatibus?
    Delectus dolore iste maxime officiis reiciendis repellendus rerum? Autem culpa exercitationem illum iure maxime modi
    quaerat recusandae velit.
  </div>
  <div>A, ab accusamus consequatur, cupiditate, earum eligendi eos fugiat illo minima non nulla obcaecati optio sequi
    sint sit tempore unde! Aliquam animi beatae delectus dolorem nam quae recusandae reiciendis. In.
  </div>
  <div>Accusamus alias atque consectetur dolor dolorem esse eum explicabo, itaque nulla placeat quisquam quo, quod
    repellat repudiandae saepe, sit tenetur. Corporis expedita illo ipsum repudiandae. Adipisci alias atque harum nam.
  </div>
  <div>Ab aspernatur consectetur consequatur corporis cum dolores ducimus ea eaque eius eveniet laudantium maxime natus
    nesciunt officia perferendis praesentium quaerat, quidem quos repudiandae sapiente soluta velit veritatis vero vitae
    voluptatem!
  </div>
  <div>Autem corporis eligendi ex suscipit voluptatem. Ad quia quidem sed sunt. Aliquam at corporis, delectus dolore
    earum esse eum ex inventore, optio pariatur, quae quisquam repellat temporibus ullam vitae voluptatem.
  </div>
  <div>Assumenda atque consectetur ducimus, eligendi enim esse fugit id in iste magnam modi natus provident quisquam quo
    recusandae unde voluptatibus. Dolor eveniet magni minus qui. Accusantium atque corporis dolorem laboriosam!
  </div>
  <div>A ab cumque delectus, deserunt dolorum earum eligendi esse et, facere illo in laudantium minima nemo obcaecati
    perspiciatis quas quis rerum sunt temporibus ullam. Fuga fugiat itaque numquam quibusdam. Fuga?
  </div>
  <div>Accusamus ad alias asperiores, autem beatae dolor est iste itaque molestiae nemo omnis perspiciatis possimus quam
    quia quo ratione sint. A, deleniti nemo! Adipisci autem culpa deserunt, laborum recusandae reiciendis.
  </div>
  <div>Beatae doloremque eos ex harum libero magnam modi mollitia quae tempora veniam. At consequatur delectus deleniti
    fugiat ipsum optio quo sequi vel, vero? Adipisci animi commodi cupiditate debitis? Sit, ut!
  </div>
  <div>Aliquid corporis dolor, est, fuga harum labore laboriosam maxime odio pariatur quaerat repellendus unde
    voluptatum. Adipisci aliquam aut cum deserunt impedit, ipsam magni natus officia voluptatem? Accusantium deserunt
    iusto possimus.
  </div>
  <div>Aperiam dignissimos doloremque illo impedit ipsam maxime molestiae mollitia nemo nobis nulla numquam provident
    quas quis, sequi tempora tenetur voluptates! Alias amet aspernatur doloremque est eum itaque quae quas repellat.
  </div>
  <div>Accusamus alias atque autem deserunt doloremque perferendis porro quia rem rerum sit! Autem commodi earum
    recusandae. Cumque eius eveniet ipsa natus necessitatibus non vel voluptates? Consequatur debitis maiores minus
    velit.
  </div>
  <div>Aperiam asperiores aspernatur atque commodi est eum inventore ipsa iste iure labore minima, natus necessitatibus
    neque nostrum nulla odit officia officiis omnis qui reiciendis repellendus similique suscipit temporibus unde
    voluptate.
  </div>
  <div>Aliquam assumenda blanditiis consequuntur cupiditate eveniet fuga, fugiat fugit illo incidunt ipsam laudantium
    maiores, neque nesciunt obcaecati placeat quasi reiciendis, repudiandae soluta tempora tempore unde ut voluptates!
    Aliquam fugit, officia?
  </div>
</div>

