.container {
  //overflow-y: hidden;
  //overflow-x: hidden !important;
  flex: 1 0 auto;
}

.container-left {
  width: auto;
  height: auto;
  //position: relative;
  border: 1px solid black;
}
//.filter-sidenav {
//  width: 240px;
//  height: 100vh;
//  overflow: hidden;
//}

