.container {
  flex: 1 0 auto;
  margin: 20px;
}

.container-left {
  width: 500px;
  height: 500px;
}
.container-left img {
  background-size: cover;
  object-fit: cover;
}
.container-right {
  margin-left: 50px;
  display: flex;
  align-items: center;
}
.container-right button {
  height: 70px;
  width: 250px;
}
//.filter-sidenav {
//  width: 240px;
//  height: 100vh;
//  overflow: hidden;
//}

