<ng-container>
  <p>home works</p>
  <p>carousel ??</p>
  <p>Cliquer et lister produits et restaurant</p>

  <div class="container" fxLayout="row" fxLayoutGap="40px">
    <div fxFlex="45" class="container-left">
      <!--  <img [src]="url">-->
      Image ici
    </div>
    <div fxFlex="50" class="container-right" fxLayoutGap="20px">
      <div fxFlex="50">
        <button [routerLink]="['/restaurants-center']" mat-flat-button color="warn">Trouver un restaurant</button>
      </div>
      <div fxFlex="50">
        <button [routerLink]="['/products-center/products']" mat-flat-button color="primary">Voir tout les plats</button>
      </div>
    </div>

  </div>
</ng-container>

