mat-grid-tile {
  background: lightblue;
}

.detail-container {
  margin: 50px;
}

.product-card {
  max-width: 400px;
  width: 350px;
  margin: 0px 5px 5px 0px;
  box-shadow: 0 0 5px 1px #dee1e1;
}
.title {
  max-width: 300px;
  margin-left: 15px;
}
.product-card-side {
  height: auto;
  max-width: 400px;
  width: 300px;
}
