<ng-container>
  <div>
    <mat-sidenav-container (backdropClick)="close('backdrop')">
      <mat-sidenav #sidenav role="navigation" class="sidenav" disableClose fixedTopGap="56">
        <app-sidenav-left (closeSidenav)="sidenav.close()"></app-sidenav-left>
      </mat-sidenav>

      <mat-sidenav-content class="Site">
        <app-header (sidenavToggle)="sidenav.toggle()"></app-header>

        <main class="Site-content">
          <router-outlet></router-outlet>
        </main>

        <!--      <app-footer fxFlexOffset="auto"></app-footer>-->
        <app-footer></app-footer>

      </mat-sidenav-content>

    </mat-sidenav-container>
  </div>

</ng-container>
