<mat-toolbar>Menu</mat-toolbar>
<mat-nav-list class="sidenav-list">
  <a mat-list-item (click)="onClose()" *ngIf="!isAuthorized" [routerLink]="['/auth/login']">
    <mat-icon>account_circle</mat-icon>
    <span class="nav-caption">Login</span>
  </a>
  <a mat-list-item (click)="onClose()" *ngIf="!isAuthorized" [routerLink]="['/auth/signup']">
    <mat-icon>input</mat-icon>
    <span class="nav-caption">Inscription</span>
  </a>
  <a mat-list-item (click)="onClose()"  *ngIf="isAuthorized">
    <div (click)="onLogout()">
      <mat-icon>power_settings_new</mat-icon>
      <span class="nav-caption" (click)="onLogout()">Logout</span>
    </div>
  </a>
</mat-nav-list>
