<ng-container>
  <h2 style="font-size: 2rem;text-align: center; margin-top: 30px">Nouvelle adresse</h2>
  <form (ngSubmit)="createAddress()" [formGroup]="addressForm">
    <div fxLayout="row"  fxLayoutAlign="center center" style="margin-top: 30px">
      <mat-card style="width: 80%">
        <mat-card-content>
          <div fxLayout="column" fxLayoutGap="20px">
            <section class="example-section">
              <mat-checkbox formControlName="professional" class="example-margin" color="warn" name="test">
                <span>C'est une adresse professionnelle ?</span>
              </mat-checkbox>
            </section>

            <mat-radio-group fxLayout="row" fxLayoutGap="15px" formControlName="civility">
              <mat-radio-button value="Mme">Mme.</mat-radio-button>
              <mat-radio-button value="M">M.</mat-radio-button>
            </mat-radio-group>

            <mat-form-field>
              <mat-label>Nom complet</mat-label>
              <input type="text" formControlName="full_name" matInput placeholder="Nom Prénom">
              <mat-icon matSuffix>person</mat-icon>
              <mat-hint>Ex: Richard test</mat-hint>
            </mat-form-field>

            <mat-form-field *ngIf="addressForm.controls['professional'].value">
              <mat-label>Compagnie</mat-label>
              <input type="text" matInput placeholder="Batiment, immeuble" formControlName="company">
              <mat-icon matSuffix>home_work</mat-icon>
              <mat-hint>Mon entreprise</mat-hint>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Adresse 1</mat-label>
              <input type="text" matInput placeholder="Adresse 1" formControlName="address1">
              <mat-icon matSuffix>add_location</mat-icon>
              <mat-hint>Ex: 13 avenue DelaFosse</mat-hint>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Adresse 2</mat-label>
              <input type="text" matInput placeholder="Adresse 2" formControlName="address2">
              <mat-icon matSuffix>add_location</mat-icon>
              <mat-hint>Ex: 13 avenue DelaFosse2</mat-hint>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Ville</mat-label>
              <input type="text" matInput placeholder="Ville" formControlName="city">
              <mat-icon matSuffix>add_location_alt</mat-icon>
              <mat-hint>Situé où?</mat-hint>
            </mat-form-field>

            <mat-form-field>
              <mat-label>Code postal</mat-label>
              <input type="text" matInput placeholder="Code postal" pattern="[0-9]+" formControlName="postcode">
              <mat-icon matSuffix>add_location</mat-icon>
              <mat-hint>Chiffres uniquement</mat-hint>
            </mat-form-field>

            <mat-form-field>
              <mat-label>N° de téléphone</mat-label>
              <input type="text" matInput placeholder="ex: 07458523" formControlName="phone">
              <mat-icon matSuffix>phone</mat-icon>
              <mat-hint>Doit contenir que des chiffres</mat-hint>
            </mat-form-field>

            <mat-form-field appearance="fill">
              <mat-label>Choisir un pays</mat-label>
              <mat-select disableRipple formControlName="country">
                <mat-option value="France">France</mat-option>
                <mat-option value="Belgique">Belgique</mat-option>
                <mat-option value="Canada">Canada</mat-option>
                <mat-option value="Suisse">Suisse</mat-option>
              </mat-select>
            </mat-form-field>

            <button [disabled]="addressForm.invalid" type="submit" mat-flat-button color="primary">
              ENREGISTRER
            </button>
          </div>

        </mat-card-content>
      </mat-card>
    </div>
  </form>

  <button *ngIf="!isModerator" mat-flat-button color="primary" style="text-transform: uppercase; margin-top: 15px" [routerLink]="'/users/addresses'">
    <mat-icon>navigate_before</mat-icon>
    Retour à mes adresses
  </button>
  <button *ngIf="isModerator" mat-flat-button color="primary" style="text-transform: uppercase; margin-top: 15px" [routerLink]="'/moderator/addresses'">
    <mat-icon>navigate_before</mat-icon>
    Retour à mes adresses
  </button>
</ng-container>
