.header-menu {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  position: fixed;
  z-index: 2;
}

.sidenav-content {
  height: 100%;
  width: 100%;
}

.sidenav-content-list .mat-list-item {
  color: white;
}

a {
  text-decoration: none;
  color: white;
}

a:active,
a:hover {
  color: lightgray;
}
.logo {
  padding: 0px 5px;
  font-size: 20px;
}

