<mat-toolbar class="header-menu" color="primary">
  <div fxHide.gt-xs>
    <button (click)="onToggleSidenav()" mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxLayout="row">
    <a routerLink="/" routerLinkActive>
      <span class="logo">SUPER FOOD</span>
    </a>
    <div fxLayout="row" fxShow.gt-xs>
      <button mat-button>A propos</button>
    </div>
  </div>
  <div fxFlex fxHide.gt-xs fxLayout="row" fxLayoutAlign="flex-end">
    <mat-nav-list fxLayout>
      <a mat-list-item>
        <button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button [routerLink]="['/users']" mat-menu-item>
            <mat-icon>dialpad</mat-icon>
            <span *ngIf="isUser">User Dashboard</span>
          </button>
          <button *ngIf="cartServer$ | async as cartServe" mat-menu-item>
            <span *ngIf="isAuthorized" [matBadge]="cartServe.numOfCarts" [routerLink]="['/cart-center']" matBadgeColor="warn"
                  matBadgePosition="before" matBadgeSize="small">
              <mat-icon>shopping_cart</mat-icon>
            Panier
          </span>
          </button>
          <button mat-menu-item (click)="onLogout()" *ngIf="isAuthorized" >
            <mat-icon>eject</mat-icon>
            <span>Déconnexion</span>
          </button>
        </mat-menu>

      </a>
    </mat-nav-list>
  </div>
  <div fxFlex fxHide.xs fxLayout fxLayoutAlign="flex-end">
    <mat-nav-list class="sidenav-content-list" fxLayout>
      <a *ngIf="isUser" [routerLink]="['/users']" mat-list-item>User Dashboard</a>
      <a *ngIf="isModerator" [routerLink]="['/moderator']" mat-list-item>Moderator</a>
      <a *ngIf="!isAuthorized" [routerLink]="['/auth/login']" mat-list-item routerLinkActive="active">Login</a>
      <a *ngIf="!isAuthorized" [routerLink]="['/auth/signup']" mat-list-item routerLinkActive="active">Inscription</a>
      <div *ngIf="cartServer$ | async as cartServe" class="shopping-cart-link-container">
        <a *ngIf="isAuthorized" [routerLink]="['/cart-center']" mat-list-item routerLinkActive="active">
          <span [matBadge]="cartServe.numOfCarts" matBadgeColor="warn" matBadgePosition="before" matBadgeSize="small">
            <mat-icon>shopping_cart</mat-icon>
          </span>
          Panier
        </a>
      </div>
      <a (click)="onLogout()" *ngIf="isAuthorized" mat-list-item routerLinkActive="active">Déconnexion</a>
    </mat-nav-list>
  </div>
</mat-toolbar>


